.gq_layout {
    .header_custom {
        display: flex;
        align-items: center;
        .logo {
            height: 100%;
        }
        .gq_btn {
            margin-left: auto;
        }
    }
    .booth {
        text-align: center;
        background: #f5f5f5;
        padding: 7rem 0 11rem 0;
        .title {
            color: #b47f42;
            position: relative;
            padding-bottom: 0.3em;
            &.sub {
                color: #d1b99d;
            }
            &.desc {
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 36px;
                    height: 0.1em;
                    background: #b47f42;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        .quick_entry {
            display: flex;
            margin: 0 auto;
            justify-content: center;
            .quick_item {
                background: #fff;
                width: 400px;
                height: 175px;
                margin: 0 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                .quick_item_title {
                    padding: 0 20px;
                    text-align: left;
                    h3 {
                        font-size: 2rem;
                    }
                }
                &:hover {
                    background: #b47f42;
                    color: white;
                    h3 {
                        color: white;
                    }
                }
            }
        }
        .booth_img_big {
            width: 100%;
            object-fit: cover;
        }
        .infomation_warp {
            display: flex;
            justify-content: center;
            align-items: center;
            .card_infomation {
                width: 41rem;
                margin: 1.1rem;
                .card_img_wrap {
                    height: 24rem;
                    overflow: hidden;
                    > img {
                        width: 100%;
                        object-fit: fill;
                    }
                }
            }
        }
        &.clearPadding {
            padding: 0;
        }
    }
    .footer_custom {
        background: url("./static/background/footer_bg.png") no-repeat 100%;
        .gq_footer {
            color: #fff;
        }
    }
    .gq_width {
        width: 1000px;
        @media (min-width: 1600px) {
            width: 1200px;
        }
    }
    .active_banner {
        .main_banner {
            width: 100%;
            max-height: 38rem;
            overflow: hidden;
            .card_img_wrap {
                width: 100%;
                object-fit: fill;
            }
        }
        .rest_banners {
            width: 100%;
            display: flex;
            margin-top: 20px;
            align-items: center;
            justify-content: space-between;
            .rest_banner {
                width: 27rem;
                height: 27rem;
                overflow: hidden;
                .card_img_wrap {
                    width: 100%;
                    object-fit: fill;
                }
            }
        }
    }
}
